.day-sky {
    position: relative;
    overflow: hidden;
        width: 100%;
    height: 100%;
    background: rgba(15, 140, 186, 1);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(15, 140, 186, 1)), color-stop(100%, rgba(127, 212, 235, 1)));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 140, 186, 1)), to(rgba(127, 212, 235, 1)));
    background: linear-gradient(to bottom, rgba(15, 140, 186, 1) 0%, rgba(127, 212, 235, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f8cba', endColorstr='#7fd4eb', GradientType=0);
    -webkit-animation: day-scene 6s 1;
    animation: day-scene 6s 1;
    -webkit-animation-delay: 21s;
    animation-delay: 21s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 0;
}


.day-sky-scene-wrapper {
     position: absolute;
    top: 50%;
    right: 0;
    margin: auto;
    left: 0;
    transform: translateY(-50%);
    width: 700px;
    height: 500px;
}

@-webkit-keyframes day-scene {
    0%,
    100% {
        opacity: 0;
    }
    20%,
    99% {
        opacity: 1;
    }
}

@keyframes day-scene {
    0%,
    100% {
        opacity: 0;
    }
    20%,
    99% {
        opacity: 1;
    }
}

.day-sky div {
    position: absolute;
}

.sun {
    top: 50px;
    left: 60px;
    width: 200px;
    height: 200px;
    -webkit-animation: rotate-sun 20s infinite;
    animation: rotate-sun 20s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform-origin: center;
    transform-origin: center;
}

@-webkit-keyframes rotate-sun {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-sun {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.sun-ray-1 {
    width: 200px;
    height: 200px;
    background-color: #ffe32b;
    top: 0px;
    left: 0px;
}

.sun-ray-2 {
    width: 200px;
    height: 200px;
    background-color: #ffe32b;
    top: 0px;
    left: 0px;
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
}

.sun-mid {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(255, 251, 217, 1);
    background: radial-gradient(ellipse at center, rgba(255, 251, 217, 1) 0%, rgba(255, 227, 43, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbd9', endColorstr='#ffe32b', GradientType=1);
}

.day-sky .mountain {
    background-color: #0e4802;
}

.day-sky .mountain2::before {
    content: '';
    background-color: #1a660a;
    width: 420px;
    height: 165px;
    position: absolute;
    top: 63px;
    left: 83px;
    border-radius: 50%;
}

.day-sky .mountain3 {
    background-color: #0a3302;
    z-index: 50;
}

.day-sky .mountain3::before {
    content: '';
    background-color: #326a20;
    width: 420px;
    height: 165px;
    position: absolute;
    top: 63px;
    left: 107px;
    border-radius: 50%;
}

.day-sky .side-decoration {
    background-color: #242424;
}

.day-sky .tree {
    background-color: #242424;
}

.day-sky .branch {
    background-color: #242424;
}

.day-sky .mid-tree-1 {
    background-color: #378420;
    border-radius: 50%;
    width: 71px;
    height: 67px;
    top: -41px;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    left: -132px;
}

.day-sky .mid-tree-2 {
    background-color: #15370a;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: -86px;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    left: -69px;
}

.day-sky .mid-tree-3 {
    background-color: #378420;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: -109px;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    left: 18px;
}

.day-sky .mid-tree-4 {
    background-color: #27800a;
    border-radius: 50%;
    width: 71px;
    height: 71px;
    top: -34px;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    left: 57px;
}



.day-sky .left-side-tree-1 {
    background-color: #194a0a;
    border-radius: 50%;
    width: 104px;
    top: -67px;
    height: 98px;
    left: -27px;
}

.day-sky .left-side-tree-2 {
    background-color: #4f9e37;
    border-radius: 50%;
    width: 72px;
    top: 0px;
    height: 72px;
    left: 20px;
}

.day-sky .left-side-tree-3 {
    background-color: #0e2a05;
    border-radius: 50%;
    width: 65px;
    top: 14px;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    height: 38px;
    left: -28px;
}

.day-sky .right-side-tree {
    top: -70px;
    left: -44px;
}

.day-sky .right-side-tree-1 {
    background-color: #194a0a;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.day-sky .right-side-tree-2 {
    background-color: #378420;
    border-radius: 50%;
    width: 64px;
    height: 67px;
    top: 51px;
    left: -32px;
}

.day-sky .triangle-deco {
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 65px solid #0e4802;
}

.day-sky .triangle-deco1 {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid #0e4802;
}

.day-sky .triangle-deco2 {
    border-bottom: 45px solid #0e4802;
}

.day-sky .triangle-deco3 {
    border-bottom: 45px solid #0e4802;
}

.day-sky .triangle-deco4 {

    border-bottom: 45px solid #0a3302;
}

.day-sky .triangle-deco5 {
    border-bottom: 65px solid #0a3302;
}

.day-sky .triangle-deco6 {
    top: 380px;
    border-bottom: 65px solid #0a3302;
    left: 620px;
}

.day-sky .bg-deco-day {
    width: 111px;
    height: 425px;
    background-color: #82d1ee;
    opacity: 0.25;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

.bg-deco-1 {
    left: -47px;
    top: 250px;
}

.bg-deco-2 {
    left: 224px;
    top: 0px;
}

.bg-deco-3 {
    left: 294px;
    top: 80px;
}

.bg-deco-4 {
    left: 464px;
    top: 51px;
}

.bg-deco-5 {
    left: 492px;
    top: 89px;
}

.bg-deco-6 {
    left: 524px;
    top: 137px;
}

.bg-deco-7 {
    left: 253px;
    top: 123px;
}

.bg-deco-8 {
    left: 146px;
    top: 123px;
}

.day-sky .celebrate-container {
    top: 147px;
    left: 350px;
}

.day-sky .celebrate-item {
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.day-sky .celebrate-1 {
    background-color: #d7025e;
    -webkit-animation: celebrate-1-anim 2s 4;
    animation: celebrate-1-anim 2s 4;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 22s;
    animation-delay: 22s;
}

@-webkit-keyframes celebrate-1-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: -100px;
        left: -100px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    100% {
        top: -10px;
        left: -100px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

@keyframes celebrate-1-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: -100px;
        left: -100px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    100% {
        top: -10px;
        left: -100px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

.day-sky .celebrate-2 {
    background-color: #ec8c5c;
    -webkit-animation: celebrate-2-anim 2s 4;
    animation: celebrate-2-anim 2s 4;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 22s;
    animation-delay: 22s;
}

@-webkit-keyframes celebrate-2-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: 100px;
        left: 100px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    100% {
        top: 150px;
        left: 100px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes celebrate-2-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: 100px;
        left: 100px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    100% {
        top: 150px;
        left: 100px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.day-sky .celebrate-3 {
    background-color: #32ebee;
    -webkit-animation: celebrate-3-anim 2s 4;
    animation: celebrate-3-anim 2s 4;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 22s;
    animation-delay: 22s;
}

@-webkit-keyframes celebrate-3-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: 150px;
        left: 150px;
        opacity: 1;
        width: 30px;
        height: 30px;

    }
    100% {
        top: 200px;
        left: 150px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes celebrate-3-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: 150px;
        left: 150px;
        opacity: 1;
        width: 30px;
        height: 30px;

    }
    100% {
        top: 200px;
        left: 150px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.day-sky .celebrate-4 {
    background-color: #67d568;
    -webkit-animation: celebrate-4-anim 2s 4;
    animation: celebrate-4-anim 2s 4;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 22s;
    animation-delay: 22s;
}

@-webkit-keyframes celebrate-4-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: -150px;
        left: -150px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    100% {
        top: -100px;
        left: -150px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes celebrate-4-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: -150px;
        left: -150px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    100% {
        top: -100px;
        left: -150px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.day-sky .celebrate-5 {
    background-color: #c6198f;
    -webkit-animation: celebrate-5-anim 2s 4;
    animation: celebrate-5-anim 2s 4;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 22s;
    animation-delay: 22s;
}

@-webkit-keyframes celebrate-5-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: 150px;
        left: -150px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    100% {
        top: 200px;
        left: -150px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes celebrate-5-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: 150px;
        left: -150px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    100% {
        top: 200px;
        left: -150px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.day-sky .celebrate-6 {
    background-color: #dbbb92;
    -webkit-animation: celebrate-6-anim 2s 4;
    animation: celebrate-6-anim 2s 4;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 22s;
    animation-delay: 22s;
}

@-webkit-keyframes celebrate-6-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: -150px;
        left: 150px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    100% {
        top: -100px;
        left: 150px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes celebrate-6-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: -150px;
        left: 150px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    100% {
        top: -100px;
        left: 150px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.day-sky .celebrate-7 {
    background-color: #ce2f1a;
    -webkit-animation: celebrate-7-anim 2s 4;
    animation: celebrate-7-anim 2s 4;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 22s;
    animation-delay: 22s;
}

@-webkit-keyframes celebrate-7-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: -80px;
        left: 70px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    100% {
        top: 0px;
        left: 70px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes celebrate-7-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: -80px;
        left: 70px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    100% {
        top: 0px;
        left: 70px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.day-sky .celebrate-8 {
    background-color: #d8ea15;
    -webkit-animation: celebrate-8-anim 2s 4;
    animation: celebrate-8-anim 2s 4;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 22s;
    animation-delay: 22s;
}

@-webkit-keyframes celebrate-8-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: 80px;
        left: -70px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    100% {
        top: 130px;
        left: -70px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes celebrate-8-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: 80px;
        left: -70px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    100% {
        top: 130px;
        left: -70px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.day-sky .celebrate-9 {
    background-color: #e4c6ec;
    -webkit-animation: celebrate-9-anim 2s 4;
    animation: celebrate-9-anim 2s 4;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 22s;
    animation-delay: 22s;
}

@-webkit-keyframes celebrate-9-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: 80px;
        left: 30px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    100% {
        top: 130px;
        left: 30px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes celebrate-9-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: 80px;
        left: 30px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    100% {
        top: 130px;
        left: 30px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.day-sky .celebrate-10 {
    background-color: #f66313;
    -webkit-animation: celebrate-10-anim 2s 4;
    animation: celebrate-10-anim 2s 4;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 22s;
    animation-delay: 22s;
}

@-webkit-keyframes celebrate-10-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: 80px;
        left: -17px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    100% {
        top: 130px;
        left: -17px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes celebrate-10-anim {
    0% {
        top: 0;
        left: 0;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        top: 80px;
        left: -17px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    100% {
        top: 130px;
        left: -17px;
        opacity: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.day-sky .bubble-floating {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 300px;
    opacity: 0.8;
    background-color: #24d1e5;

}

.day-sky .bubble-floating::after {
    content: '';
    height: 20px;
    width: 10px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    border-radius: 50%;
    position: absolute;
    left: 7px;
    top: 5px;
    background-color: white;
}

.day-sky .bubble-floating-1 {
    left: 344px;
    -webkit-animation: floating-bubble-1 3s infinite;
    animation: floating-bubble-1 3s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes floating-bubble-1 {
    0% {
        opacity: 0;
        top: 300px;
    }
    20% {
        opacity: 0.8;

    }
    100% {
        top: 100px;
        opacity: 0.8;
    }
}

@keyframes floating-bubble-1 {
    0% {
        opacity: 0;
        top: 300px;
    }
    20% {
        opacity: 0.8;

    }
    100% {
        top: 100px;
        opacity: 0.8;
    }
}

.day-sky .bubble-floating-2 {
    left: 444px;
    -webkit-animation: floating-bubble-2 8s infinite;
    animation: floating-bubble-2 8s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes floating-bubble-2 {
    0% {
        opacity: 0;
        top: 236px;
    }
    20% {
        opacity: 0.8;

    }
    100% {
        top: 0px;
        opacity: 0.8;
    }
}

@keyframes floating-bubble-2 {
    0% {
        opacity: 0;
        top: 236px;
    }
    20% {
        opacity: 0.8;

    }
    100% {
        top: 0px;
        opacity: 0.8;
    }
}

.day-sky .bubble-floating-3 {
    left: 244px;
    -webkit-animation: floating-bubble-3 8s infinite;
    animation: floating-bubble-3 8s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes floating-bubble-3 {
    0% {
        opacity: 0;
        top: 310px;
    }
    20% {
        opacity: 0.8;

    }
    100% {
        top: 150px;
        opacity: 0.8;
    }
}

@keyframes floating-bubble-3 {
    0% {
        opacity: 0;
        top: 310px;
    }
    20% {
        opacity: 0.8;

    }
    100% {
        top: 150px;
        opacity: 0.8;
    }
}

.day-sky .bubble-floating-4 {
    left: 164px;
    -webkit-animation: floating-bubble-4 5s infinite;
    animation: floating-bubble-4 5s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes floating-bubble-4 {
    0% {
        opacity: 0;
        top: 210px;
    }
    20% {
        opacity: 0.8;

    }
    100% {
        top: -30px;
        opacity: 0.8;
    }
}

@keyframes floating-bubble-4 {
    0% {
        opacity: 0;
        top: 210px;
    }
    20% {
        opacity: 0.8;

    }
    100% {
        top: -30px;
        opacity: 0.8;
    }
}

.day-sky .bubble-floating-5 {
    left: 234px;
    -webkit-animation: floating-bubble-5 4s infinite;
    animation: floating-bubble-5 4s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes floating-bubble-5 {
    0% {
        opacity: 0;
        top: 210px;
    }
    20% {
        opacity: 0.8;

    }
    100% {
        top: 0px;
        opacity: 0.8;
    }
}

@keyframes floating-bubble-5 {
    0% {
        opacity: 0;
        top: 210px;
    }
    20% {
        opacity: 0.8;

    }
    100% {
        top: 0px;
        opacity: 0.8;
    }
}


.day-sky .bubble-floating-6 {
    left: 334px;
    top: 255px;
    -webkit-animation: floating-bubble-6 5s infinite;
    animation: floating-bubble-6 5s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes floating-bubble-6 {
    0% {
        opacity: 0;
        top: 160px;
    }
    20% {
        opacity: 0.8;

    }
    100% {
        top: 10px;
        opacity: 0.8;
    }
}

@keyframes floating-bubble-6 {
    0% {
        opacity: 0;
        top: 160px;
    }
    20% {
        opacity: 0.8;

    }
    100% {
        top: 10px;
        opacity: 0.8;
    }
}

.day-sky .bubble-floating-7 {
    left: 634px;
    -webkit-animation: floating-bubble-7 6s infinite;
    animation: floating-bubble-7 6s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes floating-bubble-7 {
    0% {
        opacity: 0;
        top: 360px;
    }
    20% {
        opacity: 0.8;
    }
    100% {
        top: 50px;
        opacity: 0.8;
    }
}

@keyframes floating-bubble-7 {
    0% {
        opacity: 0;
        top: 360px;
    }
    20% {
        opacity: 0.8;
    }
    100% {
        top: 50px;
        opacity: 0.8;
    }
}

.day-sky .bubble-floating-8 {
    left: 534px;
    -webkit-animation: floating-bubble-8 5s infinite;
    animation: floating-bubble-8 5s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes floating-bubble-8 {
    0% {
        opacity: 0;
        top: 190px;
    }
    20% {
        opacity: 0.8;

    }
    100% {
        top: 100px;
        opacity: 0.8;
    }
}

@keyframes floating-bubble-8 {
    0% {
        opacity: 0;
        top: 190px;
    }
    20% {
        opacity: 0.8;

    }
    100% {
        top: 100px;
        opacity: 0.8;
    }
}

.day-sky .bubble-floating-9 {
    left: 534px;
    -webkit-animation: floating-bubble-9 7s infinite;
    animation: floating-bubble-9 7s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes floating-bubble-9 {
    0% {
        opacity: 0;
        top: 90px;
    }
    20% {
        opacity: 0.8;

    }
    100% {
        top: -30px;
        opacity: 0.8;
    }
}

@keyframes floating-bubble-9 {
    0% {
        opacity: 0;
        top: 90px;
    }
    20% {
        opacity: 0.8;

    }
    100% {
        top: -30px;
        opacity: 0.8;
    }
}

.day-sky .cat-celebrating {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #0c0c0c;
}

.day-sky .cat-celebrating-1 {
    left: 90px;
    -webkit-animation: cat-jumping 1s infinite;
    animation: cat-jumping 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes cat-jumping {
    0% {
        top: 423px;
    }

    100% {
        top: 403px;
    }
}

@keyframes cat-jumping {
    0% {
        top: 423px;
    }

    100% {
        top: 403px;
    }
}

.day-sky .cat-celebrating-2 {
    left: 190px;
    -webkit-animation: cat-jumping-2 1s infinite;
    animation: cat-jumping-2 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes cat-jumping-2 {
    0% {
        top: 403px;
    }
    100% {
        top: 383px;
    }
}

@keyframes cat-jumping-2 {
    0% {
        top: 403px;
    }
    100% {
        top: 383px;
    }
}

.day-sky .cat-celebrating-3 {
    left: 150px;
    -webkit-animation: cat-jumping-3 2s infinite;
    animation: cat-jumping-3 2s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes cat-jumping-3 {
    0% {
        top: 413px;
    }
    100% {
        top: 393px;
    }
}

@keyframes cat-jumping-3 {
    0% {
        top: 413px;
    }
    100% {
        top: 393px;
    }
}

.day-sky .cat-celebrating-4 {
    left: 250px;
    -webkit-animation: cat-jumping-4 1s infinite;
    animation: cat-jumping-4 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes cat-jumping-4 {
    0% {
        top: 413px;
    }
    100% {
        top: 393px;
    }
}

@keyframes cat-jumping-4 {
    0% {
        top: 413px;
    }
    100% {
        top: 393px;
    }
}

.day-sky .cat-celebrating-5 {
    left: 30px;
    -webkit-animation: cat-jumping-5 2s infinite;
    animation: cat-jumping-5 2s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes cat-jumping-5 {
    0% {
        top: 413px;
    }

    100% {
        top: 393px;
    }
}

@keyframes cat-jumping-5 {
    0% {
        top: 413px;
    }

    100% {
        top: 393px;
    }
}

.day-sky .cat-celebrating-ears {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #0c0c0c;
    top: -4px;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    left: 5px;
}

.day-sky .cat-celebrating-ears::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #0c0c0c;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    left: 8px;
    top: 2px;
    content: '';
    position: absolute;
}


.day-sky .cat-celebrating-eyes {
    width: 3px;
    height: 6px;
    background-color: white;
    top: 7px;
    border-radius: 50%;
    left: 13px;
}

.day-sky .cat-celebrating-eyes::before {
    width: 3px;
    height: 6px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    left: 8px;
    content: '';
}

.day-sky .cat-celebrating-nose {
    width: 0px;
    top: 19px;
    border-radius: 80px;
    left: 15px;
    height: 0px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #cdcdcd;
}
